---
import type { CollectionEntry } from 'astro:content'
import { commentConfig } from '@/config'
import Disqus from './Disqus.astro'
import Giscus from './Giscus.astro'
import Twikoo from './Twikoo.astro'
interface Props {
  post: CollectionEntry<'posts'>
}

const { id, data, slug } = Astro.props.post

const path = `/posts/${slug}`
const url = `${Astro.site?.href}${path}`

let commentService = ''
if (commentConfig?.disqus) {
  commentService = 'disqus'
} else if (commentConfig?.giscus) {
  commentService = 'giscus'
} else if (commentConfig?.twikoo) {
  commentService = 'twikoo'
}
---
<div class="card-base p-6 mb-4">
  {commentService === 'disqus' && <Disqus identifier={id} url={url} title={data.title} />}
  {commentService === 'giscus' && <Giscus />}
  {commentService === 'twikoo' && <Twikoo path={path} />}
  {commentService === '' && null}
</div>
