---
import MainGridLayout from '../layouts/MainGridLayout.astro';
import type { CVData } from '../types/CVMetadata';

import I18nKey from '../i18n/i18nKey';
import { i18n } from '../i18n/translation';

import { exec } from 'node:child_process';
import { access, readFile } from 'node:fs/promises';

import * as fs from 'node:fs/promises';
import * as util from 'node:util';
import * as yaml from 'yaml';
import CVEntryCard from '../components/CVEntryCard.astro';

const execPromise = util.promisify(exec);

await execPromise('git --version')
  .then(() => {
    console.log('git is installed');
  })
  .catch(() => {
    throw new Error('git is not available');
  });

const folderExists = async path =>
  await access(path, fs.constants.F_OK)
    .then(() => {
      return true;
    })
    .catch(() => {
      return false;
    });

if (await folderExists('node_modules/git/typst')) {
  console.log('Pulling typst');
  const { _gitCloneOut, gitCloneErr } = await execPromise(
    'git -C node_modules/git/typst pull',
  );
  if (gitCloneErr) {
    console.error(gitCloneErr);
  }
} else {
  console.log('Cloning typst');
  const { _gitCloneOut, gitCloneErr } = await execPromise(
    'git clone https://github.com/pawarherschel/typst.git node_modules/git/typst',
  );
  if (gitCloneErr) {
    console.error(gitCloneErr);
  }
}

// const fromFolderPath = 'node_modules/git/typst/src/logos';
// const toFolderPath = 'src/assets/logos';
// if (await folderExists(fromFolderPath)) {
//   await fs.mkdir(toFolderPath, { recursive: true });
//   const files = await fs.readdir(fromFolderPath);
//   for (const file of files) {
//     await copyFile(
//       `${fromFolderPath}/${file}`,
//       `${toFolderPath}/${file}`,
//     );
//   }
// }

const sourceOfTruth = await readFile(
  'node_modules/git/typst/SOT.yaml',
  'utf-8',
);

const parsedYaml: CVData = yaml.parse(sourceOfTruth);

const {
  metadata,
  bibliography,
  education,
  projects,
  skills,
  certificate,
  publications,
} = parsedYaml;
---

<MainGridLayout title={i18n(I18nKey.cv)}>
    <div class="flex w-full flex-col rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 mb-6  relative w-full rounded-[var(--radius-large)] bg-[var(--card-bg)] ">
            <h1 class="text-2xl font-bold text-[var(--text-color)] mb-4">Projects</h1>
            <div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
              {
                projects.map((project) =>
                        <CVEntryCard
                                cv_entry={project}
                        >
                        </CVEntryCard>
                )
              }
            </div>
        </div>
        <div class="card-base z-10 px-9 py-6 mb-6 relative w-full rounded-[var(--radius-large)] bg-[var(--card-bg)] ">
            <h1 class="text-2xl font-bold text-[var(--text-color)] mb-4">Publications</h1>
            <div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
              {
                publications.map((publications) =>
                        <CVEntryCard
                                cv_entry={publications}
                        >
                        </CVEntryCard>
                )
              }
            </div>
        </div>
        <div class="card-base z-10 px-9 py-6 mb-6 relative w-full rounded-[var(--radius-large)] bg-[var(--card-bg)] ">
            <h1 class="text-2xl font-bold text-[var(--text-color)] mb-4">Education</h1>
            <div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
              {
                education.map((education) =>
                        <CVEntryCard
                                cv_entry={education}
                        >
                        </CVEntryCard>
                )
              }
            </div>
        </div>
    </div>
</MainGridLayout>
